<%= link_to "Adicionar novo produto ao estoque.", new_product_path, class: "btn btn-default" %> 
<h1>Estoque:</h1>
<ul>
  <% @produtos.each do |produto| %>
    <li> <b>Nome:</b> <%= produto.name %> <b>Quantidade em estoque:</b> <%= produto.inventory %> <b>Medida:</b> <%= produto.product_type %> (<%= unidade(produto.product_type)%>) <%= link_to "Comprar para o estoque", new_product_factory_path(produto), class: "btn btn-link" %> <%= link_to "Vender estoque", new_product_sale_path(produto), class: "btn btn-link" %></li>
  <% end %>
</ul>
<h2>Movimentação de compra e venda:</h2>
<ul>
  <% @array.each do |prod| %>
      <li>
        <% if prod.class.table_name == "factories" %>
          <%= prod.created_at.strftime('%x %T ') %> <b>comprou</b> <%= prod.selling_quantity %> <%= prod.product.product_type %> de <%= prod.product.name %>
        <% else %>
          <%= prod.created_at.strftime('%x %T ') %> <b>vendeu</b> <%= prod.sale_quantity %> <%= prod.product.product_type %> de <%= prod.product.name %>
        <% end %>
      </li>
    <% end %>
</ul>

<h2>Top 5 vendas do mês:</h2>

<ul>
  <% @relatorio_top.each do |nome, soma| %>
    <li><b>Nome do produto:</b> <%= nome %> <b>Vendas:</b> <%= soma %></li>
  <% end %>
</ul>

<h2>5 piores vendas do mês:</h2>
<ul>
  <% @relatorio_down.each do |nome, soma| %>
    <li><b>Nome do produto:</b> <%= nome %> <b>Vendas:</b> <%= soma %> </li>
  <% end %>
</ul>